/** Fixed Nav **/
.App-fixed-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--global-navigation-bg);
  color: var(--global-colour-orange-2);
  z-index: 999;
  border-top: 1px solid var(--global-colour-grey-2);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 27%);
}

.App-fixed-nav ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 10px;
}

.App-fixed-nav ul li:not(:last-child) {
  border-right: 1px solid var(--global-colour-grey-2);
}

.App-fixed-nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--global-colour-orange-2);
  font-weight: bold;
}

.App-fixed-nav a.active {
  color: var(--global-colour-orange-1);
}
