:root {
  --global-navigation-bg: #ffffff;

  --global-primary: #ff9c00;
  --global-secondary: #00c4ff;

  --global-alert: #ff2f00;
  --global-information: #00d9ff;
  --global-success: #00ff73;

  --global-colour-black: #000000;
  --global-colour-white: #ffffff;
  --global-colour-grey-1: #c5c5c5;
  --global-colour-grey-2: #eeeeee;
  --global-colour-slate: #333333;
  --global-colour-orange-1: #ffa500;
  --global-colour-orange-2: #ff7b00;
  --global-colour-orange-3: #a06800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--global-colour-orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
